#root {
  width: 100%;
  height: 100%;
}

#dashboard {
 background-color:#fff;
 width: 100%;
 height: 900px;
 padding: 20px;
}

#header-flex-parent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
  align-content: center;
}

.header-flex-element {
  width: 300px;
  height: 140px;
  border: 2px solid transparent;
  border-radius: 3px;
  overflow: hidden;
}

.element-flex-body {
  width: 100%;
  height: 100px;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.element-flex-footer {
  width: 100%;
  height: 40px;
  background-color:#fff;
}

.body-text {
  color: #0094D9;
  font-size: 36px;
  font-family: 'Open Sans', sans-serif;
  flex: 4;
  text-align: center;
}

.footer-text {
  color: #393d4e;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
}

.card-teal {
  background-color: #393d4e;
}
.card-avocado {
  background-color:  #393d4e
}
.card-tangerine {
  background-color: #393d4e
}
.card-orchid {
  background-color: #393d4e
}

.online-image {
  background-image: url('./onlineWhite.svg'); 
  background-size: contain;
  background-repeat: no-repeat;
  flex: 2;
  width: 70%;
  height: 70%;
  margin-left: 10px;
}

.example-content {
  display: block;
  width: 100%;
  height: 600px;
  margin: 50px auto;
}

#content-blue {
  background-color: transparent;
  border: lightblue 2px solid;
}

#content-orange {
  background-color: transparent;
  border: lightcoral 2px solid;
}

#content-red {
  background-color: red;
}

#content-green {
  background-color: green;
}