.card {
  width: 640px;
  margin: 20px auto;
}
.card .card-header {
  min-height: 3rem;
}
.card .card-block {
  background: #414141;
  min-height: 10rem;
}
.card.loading .card-header {
  background-image: linear-gradient(90deg, cadetblue 0%, cadetblue 50%, #afcfd0 75%, cadetblue 100%);
  background-size: 200% 100%;
  -webkit-animation: 2s loading-bg-header linear infinite;
  animation: 2s loading-bg-header linear infinite;
}
.card.loading .card-block {
  background-image: linear-gradient(90deg, #7fb1b3 0%, #7fb1b3 50%, #bfd8d9 75%, #7fb1b3 100%);
  background-size: 200% 100%;
  -webkit-animation: 2s loading-bg-header linear infinite;
  animation: 2s loading-bg-header linear infinite;
}

@-webkit-keyframes loading-bg-header {
  from {
    background-position-x: 0%;
  }
  to {
    background-position-x: -200%;
  }
}

@keyframes loading-bg-header {
  from {
    background-position-x: 0%;
  }
  to {
    background-position-x: -200%;
  }
}

